@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-sans: 'Chakra Petch', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
	--text-header-larger: var(--text-6xl);
	--text-header-large: var(--text-2xl);
	--text-header-medium: var(--text-xl);
	--text-header-small: var(--text-sm);
	--color-*: initial;
	--color-white: #fff;
	--color-black: #000;
	--color-neutral-100: rgb(252, 239, 232);
	--color-neutral-500: rgb(73, 97, 106);
	--color-neutral-600: rgb(51, 68, 74);
	--color-neutral-800: rgb(0, 26, 36);
	--color-neutral-900: rgb(0, 21, 29);
	--color-green-200: rgb(209, 255, 102);
	--color-yellow-100: rgb(255, 230, 186);
	--color-red-100: rgb(254, 201, 195);
	--color-red-300: rgb(255, 128, 128);
	--color-purple-100: rgb(204, 196, 253);
	--color-cyan-100: rgb(181, 233, 252);
	--color-blue-100: rgb(187, 216, 255);
	--color-debug: oklch(0.823 0.12 346.018);
}

body {
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--color-neutral-900);
	color: var(--color-white);
	@variant md, lg {
	}
}

html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.debug,
.debug * {
	border: 0.25px solid var(--color-debug);
	border-collapse: collapse;
}
